.FoodPage {
    width: 100%;
    background-color: #fff;
}

.FoodPage-container {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FoodPage-seachBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    position: relative;
    margin-bottom: 20px;
}

.FoodPage-seachBar input {
    width: 99%;
    padding: 10px 50px;
    direction: ltr;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    direction: rtl;
}

.seachBar-icon {
    position: absolute;
    right: 30px;
    background-color: transparent;
    border-left: 1px solid #000;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 0 0 0 10px;
}

.FoodPage-categories {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
}

.FoodPage-categories-ul {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

.FoodPage-category {
    margin-left: 10px;
    padding: 5px 20px;
    border-radius: 40px;
    color: #fff;
    background-color: rgb(152, 152, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.FoodPage-body {
    padding: 0 15px;
}

.FoodPage-body-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FoodPage-body-title h3 {
    font-weight: 700;
    margin-bottom: 0;
}

.FoodPage-body-filters {
    display: flex;
}

.FoodPage-body-filter-1-button,
.FoodPage-body-filter-2-button {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #e3e3e3 !important;
}

.FoodPage-body-filter-1-button {
    margin-left: 2px;
}

.FoodPage-body-content {
    overflow: auto;
}

.Food-Card {
    border: 0 !important;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important;
}

.Food-Card-title {
    font-size: 15px;
    font-weight: 800;
}

.Food-Card-text svg {
    margin-left: 4px;
}

.Cart-number {
    padding: 5px;
    background-color: #e3e3e3;
    width: fit-content;
    border-radius: 5px;
}

.Cart-number-plusBTN {
    border: 0;
    padding: 3px 10px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 5px;
    border-radius: 5px;
}

.Cart-number span {
    border: 0;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 600;
    margin: 0 5px;
}

.Cart-number-trashBTN {
    border: 0;
    padding: 3px 6px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 5px;
    border-radius: 5px;
}

.Food-Card-img {
    padding: 4px;
}

.Food-Card-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}